.container {
  padding: 3em;
}

mat-list-option {
  border-bottom: 1px solid #E91E63;
}

.logo {
  color: #E91E63;
  font-size: 50px;
  width: 100%;
  text-align: center;
}

.name {
  color: #E91E63;
  font-size: 36px;
  width: 100%;
  text-align: center;
}

.content{
  margin-bottom: 35px;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}

.example-sidenav {
  background-color: #323232;
  padding: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.parent {
  display: flex;
}
