<div class="container">
  <form [formGroup]="profileForm" (ngSubmit)="edit()" style="display: block;" autocomplete="off">
    <div class="form-container">
      <div class="mat-title" style="text-align: center;">Edit profile</div>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Ex. guty@example.com" formControlName="email" email>
          <mat-error *ngIf="profileForm.controls['email'].invalid"></mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Ex. guty@example.com" formControlName="username">
          <mat-error *ngIf="profileForm.controls['username'].invalid"></mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Edit Profile</button>
    </div>
  </form>
</div>
