<div class="mat-title">My profile</div>
<p>Email: {{profile?.email}}</p>
<p>Username: {{profile?.username}}</p>
<p>Registration date: {{profile?.created_at | date:"medium" }}</p>
<div class="container">
  <form [formGroup]="profileForm" (ngSubmit)="edit()" style="display: block;" autocomplete="off">
    <div class="form-container">
      <div class="mat-title">Edit profile</div>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Ex. guty@example.com" formControlName="email" email>
          <mat-error *ngIf="profileForm.controls['email'].invalid"></mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Ex. guty@example.com" formControlName="username">
          <mat-error *ngIf="profileForm.controls['username'].invalid"></mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit" [disabled]="profileForm.invalid">Save changes</button>
    </div>
  </form>
</div>
