table {
  width: 100%;
}

p {
  font-size: x-small!important;
}

.container {
  margin-bottom: 3em;
}

img:hover{
  opacity: 0.2;
}

img {
  cursor: pointer;
}

mat-progress-spinner {
  margin:0 auto;
}

mat-card-content {
  padding-top: 1em;
}

mat-card-header {
  padding-bottom: 1em;
}

mat-button-toggle-group{
  margin: 0 1em 0 auto;
}

.mat-title{
  color: #e91e63;
  font-size: 35px;
  text-align: center;
  padding-top: 0.5em;
}
